# Getting Started with Spark SQL

In this practice notebook, we'll learn the basics of working with Spark SQL. Follow the instructions in each section and fill in the code cells with your solutions.

In [ ]:
# Import necessary libraries and create SparkSession
# Your code here